ul {
  list-style-type: none;
}

h2 {
  font-size: 2em;
  padding: 0.2em;
  margin: 10px 15%;
}

h2,
.content {
  color: #788bff;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
}

.content {
  font-family: "Itim", cursive;
  display: flex;
  flex-direction: column;
  margin: 0 250px;
  margin-top: 10px;
  padding: 1em;
}
#filmDescription {
  margin: 0 25%;
  font-size: 1.2em;
}

#mainImage {
  height: 350px;
}
